<div class="question_variants">
  <% question.variants.each do |(k, v)| %>
    <div class="field">
      <%= check_box_tag 'question[answer][]', k, question.answer.include?(k) %>
      <%= text_field_tag "question[variants][#{k}]", v, class: 'width-90p' %>
      <%= image_tag 'delete_icon.png', class: 'remove-question-variant pointer' %>
    </div>
  <% end %>
</div>
<button type="button" class="add-question-variant mini">Добавить вариант ответа</button>