<section id="content">
  <h1>Список студентов группы <%= @group.name %></h1>
  
  <% if @group.students.count > 0 %>
    <table>
      <% @group.students.each do |student| %>
        <tr>
          <td><%= student.fullname %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="message info">В данной группе ещё нет студентов</div>
  <% end %>
  <%= link_to "Добавить студента в группу", new_group_student_path(@group), class: 'btn' %>
</section>

<%= render partial: 'sidebar' %>