<% @questions.each do |qs| %>
  <li>
    <p><b>Текст вопроса:</b> <%= qs.question.text %></p>
    <% if qs.is_answered %>
      <% if qs.correctness_level == 1.0 %>
        <p class="green">Был дан верный ответ</p>
      <% elsif qs.correctness_level == 0.0 %>
        <p class="red">Был дан неверный ответ</p>
      <% else %>
        <p class="orange">Был дан частично верный ответ (<%= (qs.correctness_level * 100).round(2) %>%)</p>
      <% end %>
    <% else %>
      <p>На данный вопрос ещё нет ответа</p>
    <% end %>
  </li>
<% end %>