<section id="content-full">
  <h1>Список всех сессий</h1>

  <% if flash[:notice] %>
    <div class="message success"><%= flash[:notice] %></div>
  <% end %>

  <%= render partial: 'sessions_list' %>

  <%= link_to '← На страницу тестов', :tests %> |
  <%= link_to 'Удалить все неактивные сессии', inactive_test_sessions_path(@test),
    method: 'delete', confirm: 'Вы уверены?'
  %>
</section>