@import '_mixins';

table {
  border-color: #DFDFDF;
  border-width: 0 0 1px 1px;
  border-style: solid;
  width: 100%;
  color: #333;
  margin-bottom: 15px;
  tr {
    td, th {
      border-color: #DFDFDF;
      border-width: 1px 1px 0 0;
      border-style: solid;
      color: #555;
      vertical-align: center;
    }
    th {
      font-weight: bold;
      padding: 3px;
      text-align: left;
      font-size: 14px;
      background-color: #EBF0F5;
    }
    td {
      font-size: 14px;
      padding: 3px;
    }
    &.odd {
      background-color: #f6f6f6;
    }
  }
}