@import '_mixins';

.message {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 15px 15px 55px;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-size: 18px;
  font-weight: bold;
  &.info {
    color: #00529b;
    background-color: #bde5f8;
    background-image: image-url('messages/info.png');
  }
  &.success {
    color: #4f8a10;
    background-color: #dff2bf;
    background-image: image-url('messages/success.png');
  }
  &.warning {
    color: #9f6000;
    background-color: #feefb3;
    background-image: image-url('messages/warning.png');
  }
  &.error {
    color: #d8000c;
    background-color: #ffbaba;
    background-image: image-url('messages/error.png');
  }
}