.pagination {
  cursor: default;
  text-align: center;
  a, span, em {
    padding: 0.2em 0.5em;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }
  .disabled {
    color: #999999;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
  }

  a {
    text-decoration: none;
    color: #105cb6;
    &:hover, &:focus {
      color: #000033;
    }
  }
}