.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

// width classes generator
@for $i from 1 through 20 {
  .width-#{$i * 5}p {
    width: $i * 5% !important;
  }
}

// width classes generator
@for $i from 1 through 10 {
  .width-#{$i * 100}px {
    width: $i * 100px !important;
  }
}

.center-box {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.width-auto {
  width: auto !important;
}

.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.orange { color: #BB5900; }

p, span, div {
  &.small {
    font-size: 0.75em;
  }

  &.normal {
    font-size: 1em;
  }

  &.big {
    font-size: 1.5em;
  }

  &.huge {
    font-size: 2em;
  }
}