<section id="content">
  <h1>Редактирование аккаунта пользователя <%= @user.login %></h1>
  <div class="center-box">
    <%= render partial: 'form', locals: { user: @user } %>
  </div>
</section>

<%= render partial: 'admin/sidebar' %>